.masonry {
    --masonry-gap: var(--lumo-space-m);
    --masonry-brick-width: 270px;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
}
.masonry > * {
    /* Sometimes elements get stuck between columns. */
    break-inside: avoid;
    /* add gap at bottom */
    margin-bottom: var(--masonry-gap)
}
